# === Gradle ===
.gradle/
build/

# === IntelliJ IDEA ===
.idea/
*.iml
*.ipr
*.iws
out/

# === Код и логи компилятора ===
*.class
*.log
.kotlin/

# === Операционная система ===
.DS_Store
Thumbs.db

# === Локальные библиотеки (ВАЖНО) ===
# Если ты закинул ядро KSL в папку libs аддона, 
# его не нужно пушить в гит, чтобы не засорять репозиторий тяжелыми файлами.
libs/KotlinScriptLoader-*.jar