# --- [ ОС и Системные файлы ] ---
.DS_Store
Thumbs.db
*.bak
*.local

# --- [ Сборщик Gradle ] ---
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# --- [ Среды разработки (VS Code, IntelliJ IDEA) ] ---
.idea/
*.iml
*.ipr
*.iws
.vscode/
!.vscode/settings.json
.history/

# --- [ Локальные логи и базы данных KSL ] ---
*.log
logs/
*.db
*.db-journal
*.yml
!src/main/resources/*.yml

# --- [ Артефакты компиляции и кэш скриптов ] ---
.cache/
out/
bin/
*.jar
!gradle/wrapper/gradle-wrapper.jar

# --- [ Песочница Клода и временные тесты ] ---
pure-logic-test/
temp-test/